@using ToDoProject.Models.ViewModels
@model EmployeeViewModel

@{
    ViewData["Title"] = "List of Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table td, .table th {
        vertical-align: baseline;
    }

    .edge {

        width: 40px;
        height: 40px;
        border-radius: 50%; /*25px*/
        overflow: hidden;
    }
</style>


<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Add employee</a> 
</p>

<form asp-action="Index" method="get">
    <div class="form-row">

        <div class="col">
            <input type="text" asp-for="SearchString" class="form-control" placeholder="Search by name, position" />
        </div>
        <div class="col">
            <input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0" />  
            <input type="submit" asp-action="ClearIndex" value="Back to Full List" class="btn btn-outline-secondary" />
        </div>
    </div>
    <p></p>
</form>

<table class="table">
    <tr>
        <th>Employee</th>
        <th>Position</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>
                @if (item.Image.Avatar != null)
                {
                    <img class="edge" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image.Avatar))" />
                }
                &ensp;
                <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
            </td>
            <td><a>@item.Position</a></td>
            <td>
                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary"> Edit </a>
                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.PaginationViewModel.HasPreviousPage)
        {
            <li class="page-item">
                <a asp-action="Index" asp-route-page="@(Model.PaginationViewModel.PageNumber - 1)" class="page-link">
                    Previous
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index" asp-route-page="@(Model.PaginationViewModel.PageNumber - 1)" class="page-link">
                    @(Model.PaginationViewModel.PageNumber - 1)
                </a>
            </li>
        }
        @if (Model.PaginationViewModel.HasNextPage)
        {
            <li class="page-item">
                <a asp-action="Index" asp-route-page="@(Model.PaginationViewModel.PageNumber)" class="page-link">
                    @(Model.PaginationViewModel.PageNumber)
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index" asp-route-page="@(Model.PaginationViewModel.PageNumber + 1)" class="page-link">
                    @(Model.PaginationViewModel.PageNumber + 1)
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index" asp-route-page="@(Model.PaginationViewModel.PageNumber + 1)" class="page-link">
                    Next
                </a>
            </li>
        }
    </ul>
</nav>

