@model List<ToDoProject.Models.Tasks>

@{
    ViewData["Title"] = "Employee task list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<style>
    .btn1 {
        display: inline;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: .275rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    li {
        list-style-type: none; 
    }

    ul {
        margin-left: 0; 
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
</style>

<p>
    <a asp-controller="EmployeeTask" asp-action="Create" class="btn btn-primary">Assign task to employee</a>
</p>

@*table {
        border-collapse: collapse;
        padding-bottom: 0;
        padding-top: 0;
    }*@

<table class="table">
    <tr>
        <th>Task</th>
        <th>Employee name</th>
        <th>Task start</th>
        <th>Actions</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <ul>
                        @foreach (EmployeeTask item1 in @item.EmployeeTasks)
                        {
                            <li style='margin-bottom:5px; height:30px;'>
                                @item1.Employee.Name
                            </li>

                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (EmployeeTask item2 in @item.EmployeeTasks)
                        {
                            <li style='margin-bottom:5px; height:30px;'>
                                @item2.AppointmentDate.ToShortDateString()
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (EmployeeTask item1 in @item.EmployeeTasks)
                        {
                        <li style='margin-bottom:5px; height:30px;'>
                            <a asp-controller="EmployeeTask" asp-action="Delete" asp-route-employeeId="@item1.Employee.Id" asp-route-taskId="@item.Id" class="btn1 btn-danger">Delete</a>    @*style='width:80px; height:30px;'*@
                        </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>